/* You can add global styles to this file, and also import other style files */
.cart_quantity_button a i {
    color: #ec008c;
    display: inline-block;
    font-size: 20px;
    overflow: hidden;
    text-align: center;
    float: left;
    margin: 5px 0;
}
.cart_quantity_input {
    color: #696763;
    float: left;
    font-size: 16px;
    text-align: center;
    font-family: 'Roboto',sans-serif;
    width: 30px;
    margin: 0 3px;
}
.cart_quantity_button
{
    float: right;
}